In [6]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [7]:
bikes = pd.read_csv("insurance.csv")
bikes

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
from numpy import genfromtxt
bikes = genfromtxt('insurance.csv', delimiter=',')

# np.random.shuffle(bikes)

X = bikes[1:,0:3]
Y = bikes[1:,3:]

print(X)

[[19.     nan 27.9 ]
 [18.     nan 33.77]
 [28.     nan 33.  ]
 ...
 [18.     nan 36.85]
 [21.     nan 25.8 ]
 [61.     nan 29.07]]

In [64]:
#X = np.array(([[4.5,6.7,8.9],[9.1,7.6,6.5],[8.7,6.5,7.0]]),dtype=float)
#Y = np.array(([[89,90],[80,70],[69,89]]),dtype=float)

Xn = X


for cont in range(5):
    Xn[:,cont] = (Xn[:,cont]/(Xn[:,cont].max()))*.9999
    
print(Xn)

[[0.28787121 0.809919   0.         0.00817357 0.01467122]
 [0.27267273 0.79992    0.         0.02179619 0.03611377]
 [0.27267273 0.79992    0.         0.01362262 0.03047099]
 ...
 [0.25757424 0.59994    0.19299821 0.01907166 0.09367009]
 [0.27267273 0.559944   0.1578542  0.0354188  0.05417065]
 [0.27267273 0.649935   0.1578542  0.03269428 0.04175655]]

In [66]:
Yn = Y/Y.max()*.9999
print(Yn)

[[0.01637503]
 [0.04093756]
 [0.03275005]
 ...
 [0.09210952]
 [0.06242979]
 [0.05014852]]

In [91]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(),
  tf.keras.layers.Dense(6, activation=tf.nn.sigmoid),
  tf.keras.layers.Dense(20, activation=tf.nn.sigmoid),
  tf.keras.layers.Dense(1, activation=tf.nn.sigmoid)
])
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'],
             shuffle=True)

In [92]:
model.fit(Xn, Yn, epochs=1)

Epoch 1/10
17379/17379 [==============================] - 2s 137us/step - loss: 0.5490 - acc: 0.0000e+00
Epoch 2/10
17379/17379 [==============================] - 1s 40us/step - loss: 0.4749 - acc: 0.0000e+00
Epoch 3/10
17379/17379 [==============================] - 1s 39us/step - loss: 0.4455 - acc: 0.0000e+00
Epoch 4/10
17379/17379 [==============================] - 1s 39us/step - loss: 0.4088 - acc: 0.0000e+00
Epoch 5/10
17379/17379 [==============================] - 1s 40us/step - loss: 0.3945 - acc: 0.0000e+00
Epoch 6/10
17379/17379 [==============================] - 1s 41us/step - loss: 0.3905 - acc: 0.0000e+00
Epoch 7/10
17379/17379 [==============================] - 1s 41us/step - loss: 0.3885 - acc: 0.0000e+00
Epoch 8/10
17379/17379 [==============================] - 1s 40us/step - loss: 0.3876 - acc: 0.0000e+00
Epoch 9/10
17379/17379 [==============================] - 1s 42us/step - loss: 0.3871 - acc: 0.0000e+00
Epoch 10/10
17379/17379 [==============================] - 1s 41us/step - loss: 0.3868 - acc: 0.0000e+00

In [85]:
scores = model.evaluate(Xn, Yn)
print(scores)

17379/17379 [==============================] - 0s 18us/step
[0.38175303017344064, 0.0]

In [86]:
scores = model.predict(Xn)
print(scores)

[[0.0138977 ]
 [0.04108492]
 [0.03122451]
 ...
 [0.09392177]
 [0.06535389]
 [0.05205068]]

In [44]:
print(Yn)

[[0.01637503]
 [0.04093756]
 [0.03275005]
 ...
 [0.09210952]
 [0.06242979]
 [0.05014852]]